{% extends 'site2016/base.html' %}
{% load static %}
{% load ps_menu_item %}

{% block title %}
    Equipe - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}
    <header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header" id="titulo_pagina">
                        Equipe PET-BCC
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        {% if professores %}
            <section class="ui stripe medium-font vertical feature segment" role="region">
                <div class="ui grid container">
                    <div class="centered row">
                        <h1 class="ui header wow fadeInDown" data-wow-delay="0.1s" id="titulo_secao">Professores</h1>
                    </div>
                    <div class="centered row">
                        <div class="sixteen wide column">
                            <div class="ui six column center aligned doubling grid">
                                {% for integrante in professores %}
                                    <div class="column wow fadeInDown" data-wow-delay="0.2s">
                                        <div class="content" id="foto_membro_equipe">
                                            <div class="ui circular image">
                                                {% if integrante.email %}
                                                    <div class="ui dimmer">
                                                        <div class="content">
                                                            <div class="center">
                                                                <h5 class="ui inverted small icon header"><a
                                                                        href="mailto:{{ integrante.email|safe }}"
                                                                        target="_blank"><i
                                                                        class="mail icon"></i>
                                                                    {{ integrante.email }}
                                                                </a>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if integrante.foto %}
                                                <img class="ui centered small circular image"
                                                     src="/media/{{ integrante.foto }}"
                                                     alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% else %}
                                                    <img class="ui centered small circular image"
                                                    src="{% static 'site2016/images/user.png' %}"
                                                    alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% endif %}
                                            </div>
                                            <h3 class="ui header">
                                                {% if user.is_authenticated %}
                                                    <a href="{% url 'membro' integrante.id %}">
                                                        {{ integrante.titulo }} {{ integrante.nome }} {{ integrante.sobrenome }}
                                                    </a>
                                                {% else %}
                                                    {{ integrante.titulo }} {{ integrante.nome }} {{ integrante.sobrenome }}
                                                {% endif %}</h3>
                                            {{ integrante.descricao }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if bolsistas %}
            <section class="ui stripe medium-font vertical feature segment fundo_cinza" role="region">
                <div class="ui grid container">
                    <div class="centered row">
                        <h1 class="ui header wow fadeInDown" data-wow-delay="0.3s" id="titulo_secao">Bolsistas</h1>
                    </div>
                    <div class="centered row">
                        <div class="sixteen wide column">
                            <div class="ui six column center aligned doubling grid">
                                {% for integrante in bolsistas %}
                                    <div class="column wow fadeInDown" data-wow-delay="0.4s">
                                        <div class="content" id="foto_membro_equipe">
                                            <div class="ui circular image">
                                                {% if integrante.github %}
                                                    <div class="ui dimmer">
                                                        <div class="content">
                                                            <div class="center">
                                                                <h5 class="ui inverted small icon header"><a
                                                                        href="https://github.com/{{ integrante.github|safe }}"
                                                                        target="_blank"><i
                                                                        class="github icon"></i>
                                                                    {{ integrante.github }}
                                                                </a>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if integrante.foto %}
                                                <img class="ui centered small circular image"
                                                     src="/media/{{ integrante.foto }}"
                                                     alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% else %}
                                                    <img class="ui centered small circular image"
                                                    src="{% static 'site2016/images/user.png' %}"
                                                    alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% endif %}
                                            </div>
                                            <h3 class="ui header">
                                                {% if user.is_authenticated %}
                                                    <a href="{% url 'membro' integrante.id %}">
                                                        {{ integrante.nome }} {{ integrante.sobrenome }}
                                                    </a>
                                                {% else %}
                                                    {{ integrante.nome }} {{ integrante.sobrenome }}
                                                {% endif %}
                                            </h3>
                                            {{ integrante.curso }} {{ integrante.ano }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if nao_bolsistas %}
            <section class="ui stripe medium-font vertical feature segment" role="region">
                <div class="ui grid container">
                    <div class="centered row">
                        <h1 class="ui header wow fadeInDown" data-wow-delay="0.1" id="titulo_secao">Não-Bolsistas</h1>
                    </div>
                    <div class="centered row">
                        <div class="sixteen wide column">
                            <div class="ui six column center aligned doubling grid">
                                {% for integrante in nao_bolsistas %}
                                    <div class="column wow fadeInDown" data-wow-delay="0.2s">
                                        <div class="content" id="foto_membro_equipe">
                                            <div class="ui circular image">
                                                {% if integrante.github %}
                                                    <div class="ui dimmer">
                                                        <div class="content">
                                                            <div class="center">
                                                                <h5 class="ui inverted small icon header"><a
                                                                        href="https://github.com/{{ integrante.github|safe }}"
                                                                        target="_blank"><i
                                                                        class="github icon"></i>
                                                                    {{ integrante.github }}
                                                                </a>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if integrante.foto %}
                                                <img class="ui centered small circular image"
                                                     src="/media/{{ integrante.foto }}"
                                                     alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% else %}
                                                    <img class="ui centered small circular image"
                                                    src="{% static 'site2016/images/user.png' %}"
                                                    alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% endif %}
                                            </div>
                                            <h3 class="ui header">
                                                {% if user.is_authenticated %}
                                                    <a href="{% url 'membro' integrante.id %}">
                                                        {{ integrante.nome }} {{ integrante.sobrenome }}
                                                    </a>
                                                {% else %}
                                                    {{ integrante.nome }} {{ integrante.sobrenome }}
                                                {% endif %}
                                            </h3>
                                            {{ integrante.curso }} {{ integrante.ano }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if colaboradores %}
            <section class="ui stripe medium-font vertical feature segment fundo_cinza" role="region">
                <div class="ui grid container">
                    <div class="centered row">
                        <h1 class="ui header wow fadeInDown" data-wow-delay="0.1s" id="titulo_secao">Colaboradores</h1>
                    </div>
                    <div class="centered row">
                        <div class="sixteen wide column">
                            <div class="ui six column center aligned doubling grid">
                                {% for integrante in colaboradores %}
                                    <div class="column wow fadeInDown" data-wow-delay="0.2s">
                                        <div class="content" id="foto_membro_equipe">
                                            <div class="ui circular image">
                                                {% if integrante.github %}
                                                    <div class="ui dimmer">
                                                        <div class="content">
                                                            <div class="center">
                                                                <h5 class="ui inverted small icon header"><a
                                                                        href="https://github.com/{{ integrante.github|safe }}"
                                                                        target="_blank"><i
                                                                        class="github icon"></i>
                                                                    {{ integrante.github }}
                                                                </a>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if integrante.foto %}
                                                <img class="ui centered small circular image"
                                                     src="/media/{{ integrante.foto }}"
                                                     alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% else %}
                                                    <img class="ui centered small circular image"
                                                    src="{% static 'site2016/images/user.png' %}"
                                                    alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% endif %}
                                            </div>
                                            <h3 class="ui header">
                                                {% if user.is_authenticated %}
                                                    <a href="{% url 'membro' integrante.id %}">
                                                        {{ integrante.nome }} {{ integrante.sobrenome }}
                                                    </a>
                                                {% else %}
                                                    {{ integrante.nome }} {{ integrante.sobrenome }}
                                                {% endif %}
                                            </h3>
                                            {{ integrante.curso }} {{ integrante.ano }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if ex_membros %}
            <section class="ui stripe medium-font vertical feature segment" role="region">
                <div class="ui grid container">
                    <div class="centered row">
                        <h1 class="ui header wow fadeInDown" data-wow-delay="0.1s" id="titulo_secao">Ex-Membros</h1>
                    </div>
                    <div class="centered row">
                        <div class="sixteen wide column">
                            <div class="ui twelve column center aligned doubling grid">
                                {% for integrante in ex_membros %}
                                    <div class="column wow fadeInDown" data-wow-delay="0.2s">
                                        <div class="content" id="foto_membro_equipe">
                                            <div class="ui icon header">
                                                {% if integrante.foto %}
                                                    <img class="ui circular massive image"
                                                         src="/media/{{ integrante.foto }}"
                                                         alt="Foto de perfil: {{ integrante.nome }} {{ integrante.sobrenome }}">
                                                {% else %}
                                                    <i class="circular user inverted grey icon"></i>
                                                {% endif %}
                                                <p>{{ integrante.nome }} {{ integrante.sobrenome }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        <section class="ui vertical stripe segment processo_seletivo" role="region">
            <div class="ui container processo_seletivo">
                <h1 class="ui centered inverted header">Processo Seletivo</h1>
                <h3 class="ui centered inverted header">Interessado em fazer parte da equipe? {% ps_link_atual %}!</h3>
            </div>
        </section>

        <section class="ui vertical stripe segment" role="region">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="column">
                        <h1 class="ui centered header wow fadeInDown" data-wow-delay="0.1s" id="titulo_secao">Quais são
                            as
                            vagas para fazer parte da equipe?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <h2 class="ui header wow fadeInDown" data-wow-delay="0.2s">Bolsistas</h2>
                        <p class="justificado wow fadeInDown" data-wow-delay="0.2s">
                            O PET pode ter até 12 alunos bolsistas, que recebem uma bolsa de R$ 400,00
                            mensalmente. A
                            dedicação é de 20 horas semanais e a participação no PET por pelo menos um ano garante as
                            60 horas de Atividades Complementares exigidas no curso de Ciência da Computação da
                            UFSCar.</p>
                        <h2 class="ui header wow fadeInDown" data-wow-delay="0.3s">Não-bolsistas</h2>
                        <p class="justificado wow fadeInDown" data-wow-delay="0.3s">
                            Caso todas as vagas para alunos bolsistas já estejam preenchidas, o PET pode
                            ainda ter 6 alunos
                            atuando como não-bolsistas. As obrigações são as mesmas dos alunos bolsistas, assim como o
                            certificado recebido, que também vale como Atividades Complementares para o curso. No caso
                            de
                            algum bolsista se desligar do PET, os alunos não bolsistas viram bolsistas automaticamente,
                            sem
                            necessidade de novo processo seletivo. A ordem de distribuição das bolsas é definida pela
                            classificação do candidato no processo seletivo o qual participou.</p>
                        <h2 class="ui header wow fadeInDown" data-wow-delay="0.4s">Colaboradores</h2>
                        <p class="justificado wow fadeInDown" data-wow-delay="0.4s">
                            Se as 18 vagas para bolsistas e não-bolsistas já estiverem preenchidas, ainda
                            é possível ser um
                            membro do PET como um colaborador. Mesmo como colaborador você terá participação efetiva nos
                            projetos, garantindo muito conhecimento e um grande incremento em sua graduação.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="text/javascript">
        $('.ui.dimmer')
            .dimmer({
                on: 'hover'
            })
        ;
    </script>

{% endblock body %}