{% extends 'site2016/base.html' %}
{% load static %}

{% block title %}
{{ projeto.nome }} - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}

<style>
    .three h4 {
        margin: 1rem 0;
    }

    #mostrar_tudo {
        display: none;
    }
</style>

<header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
    <div class="ui grid">
        <div class="column">
            <div class="row">
                <h1 class="ui inverted header" id="titulo_pagina">
                    {{projeto.nome}}
                </h1>
            </div>
        </div>
    </div>
</header>

<main role="main">

    <div class="ui stripe medium-font vertical feature segment">
        <div class="ui grid container">

            <div class="row">
                <div class="column">
                    <h2>Membros</h2>
                </div>
            </div>
            <div class="row">

                {% if not membros %}
                <div class="column">
                    <p>Nenhum membro</p>
                </div>
                {% endif %}

                {% for membro in membros %}
                <div class="eight wide column">
                    <div class="ui middle aligned animated list">
                        <div class="item">
                            {% if membro.foto %}
                            <img class="ui avatar image" src="/media/{{ membro.foto }}"
                                alt="Foto de perfil: {{ membro.nome }} {{ membro.sobrenome }}">
                            {% else %}
                            <img class="ui avatar image" src="{% static 'site2016/images/user.png' %}"
                                alt="Foto de perfil: {{ membro.nome }} {{ membro.sobrenome }}">
                            {% endif %}

                            <div class="content">
                                <div class="header">
                                    <a href="{% url 'membro' membro.id %}">
                                        {{membro.nome}} {{membro.sobrenome}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% if atividades %}
            <div class="computer tablet only row">
                <div id="container" style="width: 100%; height:20rem;"></div>
                <div class="three wide column">
                    <h4>Média semanal:</h4>
                    <h4>Média mensal:</h4>
                    <h4>Média 3 meses:</h4>
                    <h4>Tempo total:</h4>
                </div>
                <div class="three wide column">
                    <h4>{{ tempo.semana.horas }}h{{ tempo.semana.minutos }}min</h4>
                    <h4>{{ tempo.mes.horas }}h{{ tempo.mes.minutos }}min</h4>
                    <h4>{{ tempo.3meses.horas }}h{{ tempo.3meses.minutos }}min</h4>
                    <h4>{{ tempo.total.horas }}h{{ tempo.total.minutos }}min</h4>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="column">
                    <button id="mostrar_tudo" class="ui button">Mostrar tudo</button>
                </div>
            </div> 

            <div class="row">
                <div class="column">
                    <h2>Atividades recentes</h2>
                </div>
            </div>

            {% if not atividades %}
            <div class="row">
                <div class="column">
                    <p>Nenhuma atividade recente</p>
                </div>
            </div>
            {% endif %}

            {% for atividade in atividades %}
            <div class="ui divider atividades {{atividade.dia | date:'dmY'}}"></div>
            <div class="row atividades {{atividade.dia | date:'dmY'}}">
                <div class="eight wide column">
                    <h3><i class="terminal icon"></i> {{ atividade.titulo }}</h3>
                    <ul>
                        {% for membro in atividade.membro.all %}
                        <li>{{ membro.nome }} {{ membro.sobrenome }}</li>
                        {% endfor %}
                    </ul>
                    <h4>{{ atividade.dia|date:'d/m/Y' }}</h4>
                </div>
                <div class="eight wide column">
                    <h3>Descrição</h3>
                    <p>{{ atividade.descricao|safe }}</p>
                    <h4>Tempo gasto: {{ atividade.horas }}h{{ atividade.minutos }}min</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</main>

<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
<script>
    function mostraClasses(nomeClasse){
        classes = document.getElementsByClassName(nomeClasse)
        for(var i = 0; i < classes.length; i++){
            classes[i].style.display = "flex"
        }
    }
    function escondeClasses(nomeClasse){
        classes = document.getElementsByClassName(nomeClasse)
        for(var i = 0; i < classes.length; i++){
            classes[i].style.display = "none"
        }
    }
    anychart.onDocumentReady(function () {

        // set the data
        var data = {
            header: ["Dia", "Minutos"],
            rows: [
                {% for dado in dados_grafico %}
                    ["{{dado.dia|date:'d/m/Y'|safe}}", {{dado.tempo}}],
                {% endfor %}
            ]
        };

        var data2 = [
        {% for dado in dados_grafico %}
            {x: "{{dado.dia|date:'d/m/Y'|safe}}", value: {{dado.tempo}}},
        {% endfor %}
        ]

        // create the chart
        var dataSet = anychart.data.set(data2)
        dataSet = dataSet.mapAs({x: 'x', value: 'value'});
        var chart = anychart.column();

        // add data
        chart.data(data);

        // draw
        chart.container("container");
        chart.draw();
        chart.listen("pointClick", function(e) {
            document.getElementById("mostrar_tudo").style.display = "block";
            escondeClasses('atividades');
            mostraClasses(dataSet.get(e.pointIndex, 'x').replace(/\//g, ''));
        });

        document.getElementById("mostrar_tudo").onclick = function() {
            document.getElementById("mostrar_tudo").style.display = "none";
            mostraClasses('atividades');
            chart.getSeriesAt(0).unselect()
        };

    });
</script>
{% endblock body %}